:root {
	--accent: #b8c0dc;
	--link: #2342b1;
	--br: 8px;
	--padding: 16px;
}

/* colors */
:root {
	--cl-fg: #fff;
	--cl-fg-alt: #fffff80;
	--cl-bg: #212121;
	--cl-bg-alt: #333;
	--cl-bg-alt2: rgb(56, 56, 56);
	--cl-accent: #b8c0dc;
	--cl-accent-2: #2342b1;
	--cl-accent-text: #000;
	--cl-accent-2-text: #fff;
	--cl-warning: rgb(255, 0, 0, 0.2);
	--cl-warning-text: #ffffff;
}

@media (prefers-color-scheme: light) {
	:root {
		--cl-fg: #212121;
		--cl-fg-alt: #21212180;
		--cl-bg: #fff;
		--cl-bg-alt: #f5f5f5;
		--cl-bg-alt2: #eeeeee;
		--cl-accent: #b8c0dc;
		--cl-accent-2: #2342b1;
		--cl-accent-text: #000;
		--cl-accent-2-text: #fff;
		--cl-warning: rgba(255, 122, 122, 0.8);
		--cl-warning-text: #212121;
	}
}

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html,
body {
	width: 100%;
}

img {
	max-width: 100%;
	height: auto;
}

body {
	font-family: 'Roboto', sans-serif;
	background-color: var(--cl-bg);
	color: var(--cl-fg);
	line-height: 1.4;
}

span.spinner {
	display: inline-block;
	width: 64px;
	height: 64px;
	border: 8px solid var(--cl-accent);
	border-radius: 50%;
	border-top-color: transparent;
	transform-origin: top left;
	animation: spin 1s linear infinite;

	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

@keyframes spin {
	to {
		rotate: 360deg;
	}
}

a {
	color: var(--cl-accent);
	text-decoration: none;
}

ul,
ol {
	margin-left: var(--padding);
}

section.title {
	padding: var(--padding);
	font-size: 1em;
	text-align: left;
	width: 100%;

	display: flex;
	justify-content: space-between;
	align-items: center;
}

button.refresh {
	all: unset;
	cursor: pointer;
	padding: var(--padding);
	border-radius: 100vw;
	background-image: url('../icons/refresh.svg');
	background-size: 24px;
	background-position: center;
	background-repeat: no-repeat;
}

section.picker {
	padding: var(--padding);
	display: flex;
	flex-direction: column;
	align-items: center;
}

section.picker input {
	width: 100%;
	max-width: 400px;
	padding: var(--padding);
	border-radius: var(--br);
	border: 1px solid var(--cl-bg-alt);
	background-color: var(--cl-bg-alt2);
	color: var(--cl-fg);
	font-size: 1em;
	margin-bottom: var(--padding);
}

section.posts {
	position: relative;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: masonry;
	gap: var(--padding);
	padding: var(--padding);
	width: 100%;
	max-width: 800px;
	margin-inline: auto;
	padding-bottom: 200px;
}

section.posts::after {
	content: 'keep scrolling to load more articles';
	height: 200px;
	width: 100%;
	display: grid;
	place-content: center;
	text-align: center;
	position: absolute;
	bottom: 0;
	left: 0;
}

.card {
	display: flex;
	flex-direction: column;
	width: 100%;
	/* gap: 16px; */
	background-color: var(--cl-bg-alt);
	border-radius: var(--br);
	overflow: hidden;
	/* padding: var(--padding); */
	text-decoration: none;
	color: var(--cl-fg);
	height: auto;
	margin-bottom: auto;
}

.content {
	display: flex;
	flex-direction: column;
	gap: var(--padding);
	padding: var(--padding);
}

.content .info {
	display: flex;
	flex-direction: row;
	align-items: center;
	flex-wrap: wrap;
	gap: var(--padding);
}

.footer {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: var(--padding);
	padding: var(--padding);
	background-color: var(--cl-bg-alt2);
}

span.flair,
span.pinned,
span.stickied,
span.over18 {
	display: inline-block;
	padding: 0.25em 0.5em;
	border-radius: 0.25em;
	font-size: 0.75em;
	width: fit-content;
}

span.flair {
	background-color: var(--cl-accent);
	color: var(--cl-accent-text);
}
span.pinned,
span.stickied {
	background-color: var(--cl-accent-2);
	color: var(--cl-accent-2-text);
}
span.over18 {
	background-color: var(--cl-warning);
	color: var(--cl-warning-text);
}

span.link {
	display: inline-block;
	padding: 0.25em 0.5em;
	border-radius: 0.25em;
	font-size: 0.75em;
	width: fit-content;
	background-color: var(--cl--2);
	color: var(--cl-fg);
}

.subreddit {
	display: inline-block;
	font-size: 0.75em;
	color: var(--cl-fg-alt);
}

section.post {
	display: flex;
	flex-direction: column;
	background-color: var(--cl-bg-alt);
	width: 100%;
	max-width: 800px;
	margin-inline: auto;
}

section.comments {
	display: flex;
	flex-direction: column;
	gap: var(--padding);
	padding: var(--padding);
	width: 100%;
	max-width: 800px;
	margin-inline: auto;
}

.comment {
	display: flex;
	flex-direction: column;
	gap: var(--padding);
}

.comment .op {
	background-color: var(--cl-accent);
	color: var(--cl-accent-text);
}

.comment .author {
	font-weight: bold;
}
